.NavBuscador{
  background-color: var(--bg-navbar);
  color: var(--color-text);

  height: 56px;
  padding: 0 16px;

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 16px; */

  position: sticky;
  top: 0;

  border: 1px solid var(--bg-gris);
}


.btn-heart{
  background-color: transparent;
  border: none;
  color: var(--color-text);
}

.BuscadorInput{
  border: none;
  background-color: var(--bg-transparencia);
  margin: 8px 0;
  padding: 0 12px 0 8px;
  border-radius: 8px;

}

.BuscadorInput svg{
  opacity: .6;
}

.BuscadorInput input{
  background-color: transparent;
  /* background-color: plum; */
  width: 100%;
  padding: 12px 8px;
  border: none;
}

@media only screen and (min-width: 600px) {

  .NavBuscador{
    /* background-color: orange; */
    padding: 0 32px;
  }

}