.Home .Post{
  padding: 16px;
  color: var(--color-text);

  /* background-color: var(--bg-Card); */
  border-bottom: 1px solid var(--bg-gris);

}

.Home .Post img{
  margin-top: 8px;
  width: 100%;
}

@media only screen and (min-width: 600px) {

  .Home{
    height: 100vh;
    overflow-y: scroll;
  }

  .Home .Post{
    /* background-color: palegreen; */
    max-width: var(--SizePost);
    margin: 0 auto;
  }

}