@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;600&display=swap');

:root {
  --primary: deeppink;
  --SizeNavbarHeigt: 56px;
  --SizePost: 470px;
  --SizeLayoutAsideRight: 300px;

  --bg-gris: rgb(50, 50, 50);


  --bg-transparencia: rgba(105, 105, 105, 0.2);
  --body-color: #000;
  --bg-navbar: #191919;
  --bg-Card: white;

  --color-text: rgb(250, 250, 250);


}

@media (prefers-color-scheme: dark) {
  :root {
    --body-color: #F5F5F5;
    --bg-navbar: #fff;
    --bg-Card: #F5F5F5;
    --bg-gris: #dcdcdc;
  
    --color-text: #191919;
  
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  list-style: none;
}

body{
  background-color: var(--body-color);
  color: var(--color-text);
}
